<!-- eslint-disable-next-line vue/max-attributes-per-line -->

/* <p class="api-data" > {{game.title}} </p>
       <p class="price"> $ {{game.salePrice}}</p>
       




       <template>
                <div class="container" > </div>
                  <div class="container">
                  <div class="card">
                    <h2 class="name"> {{singleGame.title}} </h2>
                    <img src="" alt="">
                    <h3 class="" ></h3>
                    <ul>
                      <li v-for="score in score" :key="score"  class="score">
                        <div>{{score.metacriticScore}}</div>
              
                      </li>
                      <li v-for="deal in dealRating" :key="deal" >
                        <div>{{deal.dealRating}}/10</div>
                      </li>
                    </ul>
              
              
                  </div>
                </div>
              </template>
              
              <script>
              export default {
                data(){
                  return{
                    singleGame: {},
                    score:{},
                    dealRating:{},
                };
                },
                mounted: function(){
                  this.fetchData2();
              
              
              
              
                },
                methods:{
                  fetchData2: async function (){
                      try {
                          const result = await fetch(`https://www.cheapshark.com/api/1.0/deals?storeID=1&upperPrice=15${this.$route.params.steamAppID}`);
                          const singleGame = await result.json();
                          this.singleGame = singleGame;
                          this.score = singleGame.score;
                          this.dealRating= singleGame.dealRating;
                          
                      } catch (error) {
                          console.log(error);
                      }
                  }
              
              },
              
              };
              </script>
              
              <style>
              
              </style>