
html,
body,
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}
html {
  background-color: #111;
}
.home {
  background-color: #111;
}
.link,
.link:visited,
.link:link {
  color: #fff;
  text-decoration: none;
}
.back-link {
  font-size: 3rem;
  text-transform: uppercase;
}
.game-table {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
}
.game-list{
  width: 25rem;
  color: #111;

  list-style: none;
  margin: 2.5rem auto;
  transition: all 0.3s;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.game-list img {
  width: 50%;
}
.gamne-list:hover {
  transform: scale(1.1);
}